em {
  color: #a5b4fc;
  font-size: 1em;
}

h1 {
  font-size: 3em;
  font-family: 'Montserrat';
  font-color: #A5B4FC;
}

a {
  color: black;
  font-size: 1em;
  font-family: 'Manrope';
  text-decoration: none;
}

p {
  font-size: 1.1em;
  font-family: 'Manrope';
}

ul {
  font-size: 1.1em;
  font-family: 'Manrope';
}

.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


.manrope-<uniquifier> {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
